<div class="content" style="width:95%;padding-left:20px;">
  <p-toast position="bottom-right"></p-toast>
  <div class="box box-info" *ngIf="employeeInfo">
    <div class="box-header with-border">
      <h3>Adding Expense for {{employeeInfo.EmpName}} {{employeeInfo.MiddleName}} {{employeeInfo.LastName}} </h3>
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="card-body" *ngIf="employeeInfo.EmpStatus === 'Active'">
        <div class="row" style="margin-top:20px;">

        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>Expense Title:*</label>
              <div class="input-group">
                <p-dropdown #exptype [options]="expenseType" ngModel name="selectExpenseType" optionLabel="Title"
                  placeholder="Select Expense Type" required="isRequired" selectExpenseType
                  #selectExpenseType="ngModel">
                </p-dropdown>
                <div class="input-group-prepend">
                  <label *ngIf="selectExpenseType.dirty  && selectExpenseType.invalid " class="errorMsg">
                    Select Valid Expense</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>Amount:*</label>
              <div class="input-group">

                <p-inputNumber ngModel name="expensesValue" expensesValue #expensesValue="ngModel" required="true"
                  requiredMessage="Amount required"></p-inputNumber>
                <label *ngIf="expensesValue.invalid && expensesValue.touched" class="errorMsg">
                  Enter Valid Amount</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>Project:*</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <p-dropdown [options]="allProjectList" optionLabel="ProjectTitle" ngModel name="selectAssignment"
                    selectAssignment #selectAssignment="ngModel" required="required" placeholder="Select a Project"
                    (onChange)="subProjects()"></p-dropdown>
                  <label *ngIf="selectAssignment.invalid && selectAssignment.touched && selectAssignment.dirty"
                    class="errorMsg">
                    Select Valid Project</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="form-group" [ngClass]="isActive?'show':'noshow'">
              <label>Sub Project:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <p-dropdown [options]="subProjectList" optionLabel="SubProjectTitle" ngModel name="selectSubProject"
                    selectSubProject #selectSubProject="ngModel" placeholder="Select"></p-dropdown>

                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="form-group">
              <label>Expense Date:</label>
              <div class="input-group">
                <div class="input-group-prepend">

                  <p-calendar [showIcon]="true" inputId="basic" ngModel name="expenseDate" expenseDate
                    #expenseDate="ngModel">
                  </p-calendar>
                </div>
              </div>

            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-6">
            <div class="form-group">
              <label>Location:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <input type="text" pInputText ngModel name="expLocation" expLocation #expLocation="ngModel" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="form-group">
              <label>Expense Remarks:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <textarea ngModel name="ExpRemarks" style="width:100%" cols=160 pInputTextarea></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isEditing === true">
          
          <label>Upload proofs</label>
          <div class="form-group">

            <div class="col-sm-4 col-md-4 col-xs-4">
              <div *ngIf="this.editExpenseDetails.docUrl != null">
                <img style="height: 200px;width: 200px;" [src]="getPatch(this.editExpenseDetails.docUrl)" />
                <button style="top:0px" class="p-button-danger" pButton type="button" icon="pi pi-times"
                  (click)="deleteImage('A')" iconPos="left"></button>
              </div>
              <p-fileUpload maxFileSize="1000000" name="expProofA" [url]="uploadUrl"
                *ngIf="!this.editExpenseDetails.docUrl" [auto]="true" accept="image/*" method="post"
                (onUpload)="onDocUploaded($event)" chooseLabel="Browse">

              </p-fileUpload>

            </div>
            <div class="col-sm-4 col-md-4 col-xs-4">
              <div *ngIf="this.editExpenseDetails.docUrl2 != null">

                <img style="height: 200px;width: 200px;" [src]="getPatch(this.editExpenseDetails.docUrl2)" />
                <button style="top:0px" class="p-button-danger" pButton type="button" icon="pi pi-times"
                  (click)="deleteImage('B')" iconPos="left"></button>
              </div>
              <p-fileUpload *ngIf="!this.editExpenseDetails.docUrl2" maxFileSize="1000000" name="expProofB"
                [url]="uploadUrl" [auto]="true" accept="image/*" method="post" (onUpload)="onDocUploaded($event)"
                chooseLabel="Browse">

              </p-fileUpload>


            </div>
            <div class="col-sm-4 col-md-4 col-xs-4">
              <div *ngIf="this.editExpenseDetails.docUrl3 != null" style="vertical-align: top;">

                <img style="height: 200px;width: 200px;" [src]="getPatch(this.editExpenseDetails.docUrl3)" />
                <button style="top:0px" class="p-button-danger" pButton type="button" icon="pi pi-times"
                  (click)="deleteImage('C')" iconPos="left"></button>
              </div>
              <p-fileUpload *ngIf="!this.editExpenseDetails.docUrl3" maxFileSize="1000000" name="expProofC"
                [url]="uploadUrl" [auto]="true" accept="image/*" method="post" (onUpload)="onDocUploaded($event)"
                chooseLabel="Browse">

              </p-fileUpload>


            </div>
          </div>
        </div>
        <div class="row" *ngIf="isEditing === false">
          <div class="col-sm-6 col-md-6 col-xs-12">
            &nbsp;
          </div>
        </div>
        <div class="row">
          <button type="button" pButton label="Save"
            [disabled]="!(selectExpenseType.valid  && expensesValue.valid && selectAssignment.valid)"
            (click)="draftExpenses()"></button>
          <span class="fa-fw" style="padding-left: 20px;"></span>
          <button type="submit" pButton label="Submit"
            [disabled]="!(selectExpenseType.valid && expensesValue.valid && selectAssignment.valid)"></button>
          <span class="fa-fw" style="padding-left: 20px;"></span>
          <a [routerLink]="['/view']"> <button type="button" pButton label="Cancel"></button> </a>
        </div>
      </div>
    </form>
  </div>
</div>