:host >>> .p-cascadeselect-item-active>.p-cascadeselect-sublist{
    top: auto;
    margin-top:-40px;
}

.show {
    display: block;
}

.noshow{
    display:none;
}

.errorMsg{
    text-align: left;
    font-size:0.8rem;
    color:red;
    padding:20px
}
.starMsg{
    font-size:0.8rem;
    color:red;

}



.p-toast{
    margin-top: 100px !important;
}