<p-toast position="bottom-right"></p-toast>

<h2>Expense Types</h2>
<hr>
<p-toast position="bottom-right"></p-toast>

<p-tabView>
    <p-tabPanel header="Company Specific">

        <p-table [value]="CompanyExpenseTypes">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Capex</th>
                    <th>Dont Show in records</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exptypes>
                <tr>
                    <td>{{exptypes.Title}}</td>
                    <td>{{(exptypes.isCapex === true) ? "Yes" : "No"}}</td>
                    <td>{{exptypes.FreezeInd === true ? "Yes" : "No"}}</td>
                    <td><p-button (click)="EditExpenseType(exptypes)" >Edit</p-button></td>
                </tr>
            </ng-template>

        </p-table>
        <br>
        <p-button (click)="addExpense()" label="Add" icon="pi pi-plus" iconPos="right"></p-button>

    </p-tabPanel>
    <p-tabPanel header="Master">
        <p-table [value]="MasterExpenseTypes">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Capex</th>
                    <th>Dont Show in records</th>

                 </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exptypes>
                <tr>
                    <td>{{exptypes.Title}}</td>
                    <td>{{(exptypes.IsCapex === true) ? "Yes" : "No"}}</td>
                    <td>{{exptypes.FrezzeInd === true ? "Yes" : "No"}}</td>

                </tr>
            </ng-template>
        </p-table>
            </p-tabPanel>
    <p-tabPanel header="Help">
        <ul>
            <li>You can edit and freeze expense types so that they are not visible while adding new records </li>
            <li>You can't edit and freeze master expense types  </li>
        </ul>
    </p-tabPanel>
</p-tabView>

<p-dialog header="Expense Type" *ngIf="CurrentExpense" [(visible)]="display">
    <div class="p-fluid">
        <div class="p-field">
            <label for="Title">Title</label>
            <input id="Title" [(ngModel)]="CurrentExpense.Title" type="text" pInputText  required>
        </div>
        <br>
        <div class="p-field">
            <label for="IsCapex">Is Capital Expenditure? :
            <p-checkbox [binary]="true"  [(ngModel)]="CurrentExpense.isCapex" inputId="IsCapex"></p-checkbox>
        </label>
        </div>
        <br>
        <div class="p-field">
            <label for="FreezeInd">Do not show on new expenses? :
            <p-checkbox [binary]="true" [(ngModel)]="CurrentExpense.FreezeInd" inputId="FreezeInd"></p-checkbox>
        </label>
        </div>
        <br>
        <div class="p-field">
          <button style="width:47%;margin-left: 5px;" pButton (click)="Save()" type="button" label="Save" class="p-button-success"></button>
<button pButton (click)="Cancel()" type="button" style="width:47%" label="Cancel" class="p-button-info"></button>
        </div>
    </div>
</p-dialog>
