<p-toast position="bottom-right"></p-toast>

<div class="container-fluid">
    <h2>Pending Payments</h2>
    <hr>

    <div class="row">
        <div class="col-lg-4 pull-left">
            <span class="">Load Only Approved Before {{SearchDate | date}}</span>            
        </div>
        <div class="col-lg-4">
            <p-calendar [(ngModel)]="SearchDate"></p-calendar>
            <button (click)="RefreshData()" class="btn btn-success">Get</button>
        </div>
        <div class="col-lg-4">
            &nbsp;            
        </div>
    </div>
</div>

<p-table [value]="Data"   [rows]="10"  [paginator]="true">
    <ng-template pTemplate="header">
        <tr>
            <th  pSortableColumn="ApprovedOn">Approved On<p-sortIcon field="ApprovedOn"></p-sortIcon></th>
            <th  pSortableColumn="SubmittedDate">Submitted On<p-sortIcon field="SubmittedDate"></p-sortIcon></th>
            <th pSortableColumn="EmployeeName"> Employee Name<p-sortIcon field="EmployeeName"></p-sortIcon></th>
            <th  pSortableColumn="AmountApproved">Amount to be paid<p-sortIcon field="AmountApproved"></p-sortIcon></th>
            <th>Approver Name</th>
            <th  pSortableColumn="ExpenseTypeName">Expense Type<p-sortIcon field="ExpenseTypeName"></p-sortIcon></th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record>
        <tr>
            <td>{{record.ApprovedOn | date}}</td>
            <td>{{record.SubmittedDate | date}}</td>
            <td>{{record.EmployeeName}}</td>
            <td>{{record.AmountApproved}}</td>
            <td>{{record.ApprovarUserName}}</td>
            <td>{{record.ExpenseTypeName}}</td>
            <td><button class="btn btn-success" (click)="setRecord(record);">Pay</button></td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Payment details" *ngIf="currntItem !== null" [(visible)]="display">
   
<form>

<p>Approved On: {{currntItem?.ApprovedOn | date}}</p>
<p>Submitted On: {{currntItem?.SubmittedDate | date}}</p>
<p>Employee: {{currntItem?.EmployeeName}} </p>
<p>Amount: {{currntItem?.AmountApproved}}</p>
<p>Approved by: {{currntItem?.ApprovarUserName}}</p>
<p>Expense Type: {{currntItem?.ExpenseTypeName}}</p>

<img [src]="currntItem?.docUrl" *ngIf="currntItem?.docUrl" alt="Receipt" (click)="viewFullImage(currntItem?.docUrl)" style="width:50px; height: 50px;">
<img [src]="currntItem?.docUrl2" *ngIf="currntItem?.docUrl2"  alt="Receipt"  (click)="viewFullImage(currntItem?.docUrl2)" style="width:50px; height: 50px;">
<img [src]="currntItem?.docUrl3" *ngIf="currntItem?.docUrl3" alt="Receipt" (click)="viewFullImage(currntItem?.docUrl3)" style="width:50px; height: 50px;">

<div class="p-fluid">
    <div class="p-field">
        <label for="paycycle">Payment Cycle</label>
        <input type="text" [(ngModel)]="currntItem.PaymentCycle" id="paycycle" required pInputText placeholder="Payment Cycle"> 
    </div>
    <div class="p-field">
        <label for="remarks">Remarks</label>
   
        <textarea pInputTextarea [(ngModel)]="Remarks" required cols="30" rows="10" placeholder="Payment/Rejection remarks" ></textarea> </div>
</div>
 
<input type="submit" (click)="Pay()" value="Pay" class="btn btn-success">
<input type="reset" (click)="Cancel()" value="Cancel" class="btn btn-info">
<input type="submit" (click)="Reject()" value="Reject" class="btn btn-danger">
</form>

</p-dialog>


<p-dialog header="Document proof" [(visible)]="displayImageDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'auto' , 'height': 'auto'}">
    <div class="ui-g-4">
        <img [src]="currentDisplayImage" alt="Receipt View" />
    </div>
</p-dialog>
