<div class="content" style="width:95%;padding-left:20px;">
    <h3>Personal Expenses List</h3>
    <p-toast position="bottom-right"></p-toast>

    <div style="text-align:right">
        <a class="nav-link" [routerLink]="['/']"> <button type="button" pButton icon="pi pi-plus" label="Add New Expense"></button></a>
    </div>
    <div>
        <p-tabView  (onChange)="handleChange($event)">
            <p-tabPanel  header="Drafted">
                <p-table [value]=personalExpenseList  [rowHover]="true" [rows]="10"  [paginator]="true">
                    <ng-template pTemplate="header"  >
                        <tr>
                            <th>Employee Name</th>
                            <th>Expense Date</th>
                            <th>Expense Title</th>
                            <th>Project</th>
                            <th>SubProject</th>
                            <th>Total Expenses</th>
                            <th>Remarks</th>
                            <th>Edit</th>
                        </tr>
                    </ng-template>

                        <ng-template pTemplate="body" let-rowData  >
                            <tr *ngIf="rowData.Status ===0">
                                <td>{{Username}}</td>
                                <td>{{getDate(rowData['ExpenseDate'])}}</td>
                                <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                                <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                                <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                                <td>{{rowData['AmountRequested']}}</td>
                                <td>{{rowData['ExpRemarks']}}</td>
                               
                                <td class="fa fa-edit" (click)="editExpense(rowData['ExpenseId'])" style="padding-top: 20px; cursor: pointer;"></td>

                            </tr>
                        </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel  header="Pending">
                <p-table [value]=personalExpenseList  [rowHover]="true"  [rows]="10"  [paginator]="true">
                    <ng-template pTemplate="header"  >
                        <tr>
                            <th>Employee Name</th>
                            <th>Expense Date</th>
                            <th>Expense Title</th>
                            <th>Project</th>
                            <th>SubProject</th>
                            <th>Total Expenses</th>
                            <th>Remakrs</th>
                            <td>Edit</td>
                        </tr>
                    </ng-template>

                        <ng-template pTemplate="body" let-rowData  >
                            <tr *ngIf="rowData.Status == 1">
                                <td>{{Username}}</td>
                                <td>{{getDate(rowData['ExpenseDate'])}}</td>
                                <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                                <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                                <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                                <td>{{rowData['AmountRequested']}}</td>
                                <td>{{rowData['ExpRemarks']}}</td>
                                <td class="fa fa-edit" (click)="editExpense(rowData['ExpenseId'])" style="padding-top: 20px; cursor: pointer;"></td>
                                <span style="padding-top: 10px; cursor: pointer;" *ngIf="getDiferenceInDays(rowData['SubmittedDate']) > 30">Remind</span>
                            </tr>
                        </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel  header="Approved">
                <p-table [value]=personalExpenseList   [rowHover]="true"  [rows]="10"  [paginator]="true">
                    <ng-template pTemplate="header" let-columns >
                        <tr>
                            <th>Employee Name</th>
                            <th>Expense Date</th>
                            <th>Expense Title</th>
                            <th>Project</th>
                            <th>SubProject</th>
                            <th>Expenses</th>
                            <th>Approved On</th>
                            <th>Approved By</th>
                        </tr>
                    </ng-template>

                        <ng-template pTemplate="body" let-rowData  >
                            <tr *ngIf="rowData.Status == 3">
                                <td>{{Username}}</td>
                                <td>{{getDate(rowData['ExpenseDate'])}}</td>
                                <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                                <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                                <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                                <td>{{rowData['AmountRequested']}}</td>
                                <td>{{rowData['ApprovedOn']}}</td>
                                <td>{{rowData['ApprovarUserName']}}</td>
                            </tr>

                        </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel  header="Partially Approved">
                <p-table [value]=personalExpenseList  [rowHover]="true"  [rows]="10"  [paginator]="true">
                    <ng-template pTemplate="header" let-columns >
                        <tr>
                            <th>Employee Name</th>
                            <th>Expense Date</th>
                            <th>Expense Title</th>
                            <th>Total Expenses</th>
                            <th>Approved Expenses</th>
                            <th>Approved On</th>
                            <th>Approved By</th>
                            <th>Reason</th>
                            <th>Actions</th>
                            <th>Edit and resubmit</th>
     
                        </tr>
                    </ng-template>

                        <ng-template pTemplate="body" let-rowData  >
                            <tr *ngIf="rowData.Status == 4">
                                <td>{{Username}}</td>
                                <td>{{getDate(rowData['ExpenseDate'])}}</td>
                                <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                                <td>{{rowData['AmountRequested']}}</td>
                                <td>{{rowData['AmountApproved']}}</td>
                                <td>{{getDate(rowData['ApprovedOn'])}}</td>
                                <td>{{rowData['ApprovarUserName']}}</td>
                                <td>{{rowData['ApprovalRemarks']}} </td>
                                <td> <a class="fa fa-save" (click)="resubmitExpense(rowData['ExpenseId'])" style="padding-top: 20px; cursor: pointer;"> </a></td>
                                <td> <a class="fa fa-edit" (click)="editExpense(rowData['ExpenseId'])" style="padding-top: 20px; cursor: pointer;"></a></td>
                            </tr>

                        </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel  header="Rejected">
                <p-table [value]="personalExpenseList"  [rowHover]="true"  [rows]="10"  [paginator]="true"   >
                    <ng-template pTemplate="header" let-columns >
                        <tr>
                            <th>Employee Name</th>
                            <th>Expense Date</th>
                            <th>Expense Title</th>
                            <th>Total Expenses</th>
                            <th>Approved On</th>
                            <th>Approved By</th>
                            <th>Rejected Reason</th>
                            <th>ReSubmit</th>
                            <th>Edit and resubmit</th>
                        </tr>
                    </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" >
                            <tr *ngIf="rowData.Status == 2">
                                <td>{{Username}}</td>
                                <td>{{getDate(rowData['ExpenseDate'])}}</td>
                                <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                                <td>{{rowData['AmountRequested']}}</td>
                                <td>{{getDate(rowData['ApprovedOn'])}}</td>
                                <td>{{rowData['ApprovarUserName']}}</td>
                                <td>{{rowData['ApprovalRemarks']}} </td>
                                <td> <a class="fa fa-save" (click)="resubmitExpense(rowData['ExpenseId'])" style="padding-top: 20px; cursor: pointer;"> </a></td>
                                <td> <a class="fa fa-edit" (click)="editExpense(rowData['ExpenseId'])" style="padding-top: 20px; cursor: pointer;"></a></td>
                     
                            </tr>
                        </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel  header="Paid">
                <p-table [value]=personalExpenseList  [rows]="10" [rowHover]="true" [paginator]="true">
                    <ng-template pTemplate="header" let-columns >
                        <tr>
                            <th>Employee Name</th>
                            <th>Expense Date</th>
                            <th>Expense Title</th>
                            <th>Total Expenses</th>
                            <th>Paid On</th>
                            <th>Paid By</th>
                            <th>Payment Cycle</th>
                            <th>Payment Remarks</th>
                        </tr>
                    </ng-template>

                        <ng-template pTemplate="body" let-rowData let-columns="columns" >
                            <tr *ngIf="rowData.Status == 5">
                                <td>{{Username}}</td>
                                <td>{{getDate(rowData['ExpenseDate'])}}</td>
                                <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                                <td>{{rowData['AmountRequested']}}</td>
                                <td>{{getDate(rowData['PaymentDate'])}}</td>
                                <td>{{rowData['ApprovarUserName']}}</td>
                                <td>{{rowData['PaymentCycle']}}</td>
                                <td>{{rowData['PaymentRemarks']}} </td>
                            </tr>
                                            </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>
        </div>

    </div>
