
.proofImage
{
    max-height: 100px;
    max-width: 100px;
    border: 1px solid black;
}

.proofImage:hover
{
    height: auto;
    width: auto;
    border: 2px solid black;
}

.show {
    display: block;
}

.noshow{
    display:none;
}

label{
    font-weight:500;
}

.row{
    margin-top:10px;
}
