<div class="content" style="width:95%;padding-left:20px;">
    <p-toast position="bottom-right"></p-toast>

<h3>Admin View of Expenses List</h3>
<div>
    <p-tabView  (onChange)="handleChange($event)">
        <p-tabPanel  header="Pending" >
            <p-table [value]=allPendingExpenseList [rowHover]="true"  [rows]="10"  [paginator]="true"  (onRowSelect)="onSelectExpense($event)">
                <ng-template pTemplate="header"  >
                    <tr>
                        <th>Employee Name</th>
                        <th>Expense Date</th>
                        <th>Expense Title</th>
                        <th>Expense Remarks</th>
                        
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData  >
                    <tr >
                        <td>{{(rowData['EmployeeName'])}}</td>
                        <td>{{getDate(rowData['ExpenseDate'])}}</td>
                        <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                        <td>{{(rowData['ExpRemarks'])}}</td>
                        <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                        <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                        <td>{{rowData['AmountRequested']}}</td>
                        <span class="fa fa-edit" (click)="onSelectExpense(rowData['ExpenseId'])" style="padding-top: 20px; cursor: pointer;"></span>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel  header="Approved">
            <p-table [value]=allApprovedExpenseList  [rowHover]="true"  [rows]="10"  [paginator]="true">
                <ng-template pTemplate="header" >
                    <tr>
                        <th>Employee Name</th>
                        <th>Expense Date</th>
                        <th>Expense Title</th>
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Approved Expenses</th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData  >
                    <tr >
                        <td>{{rowData['EmployeeName']}}</td>
                        <td>{{getDate(rowData['ExpenseDate'])}}</td>
                        <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                        <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                        <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                        <td>{{rowData['AmountRequested']}}</td>
                        <td>{{rowData['AmountApproved']}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel  header="Partially Approved">
            <p-table [value]=allPartiallyApprovedExpenseList [rowHover]="true"   [rows]="10"  [paginator]="true">
                <ng-template pTemplate="header" >
                    <tr>
                        <th>Employee Name</th>
                        <th>Expense Date</th>
                        <th>Expense Title</th>
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Approved Expenses</th>
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData  >
                    <tr >
                        <td>{{rowData['EmployeeName']}}</td>
                        <td>{{getDate(rowData['ExpenseDate'])}}</td>
                        <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                        <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                        <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                        <td>{{rowData['AmountRequested']}}</td>
                        <td>{{rowData['AmountApproved']}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel  header="Rejected">
            <p-table [value]=allRejectedExpenseList [rowHover]="true"  [rows]="10"  [paginator]="true" >
                <ng-template pTemplate="header" >
                    <tr>
                        <th>Employee Name</th>
                        <th>Expense Date</th>
                        <th>Expense Title</th>
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Rejected Reason</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData  >
                    <tr>
                        <td>{{rowData['EmployeeName']}}</td>
                        <td>{{getDate(rowData['ExpenseDate'])}}</td>
                        <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                        <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                        <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                        <td>{{rowData['AmountRequested']}}</td>
                        <td>{{rowData['ApprovalRemarks']}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel  header="Paid">
            <p-table [value]=allPaidExpenseList  [rowHover]="true"  [rows]="10"  [paginator]="true" >
                <ng-template pTemplate="header" >
                    <tr>
                        <th>Employee Name</th>
                        <th>Expense Date</th>
                        <th>Expense Title</th>
                        <th>Project</th>
                        <th>SubProject</th>
                        <th>Total Expenses</th>
                        <th>Paid On</th>
                        <th>Payment Remarks</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData  >
                    <tr >
                        <td>{{rowData['EmployeeName']}}</td>
                        <td>{{getDate(rowData['ExpenseDate'])}}</td>
                        <td>{{getExpenseType(rowData['ExpenseTypeId'])}}</td>
                        <td>{{getProjectTitle(rowData['ProjectCode'])}}</td>
                        <td>{{getSubProjectTitle(rowData['SubProjectId'])}}</td>
                        <td>{{rowData['AmountRequested']}}</td>
                        <td>{{getDate(rowData['PaymentDate'])}}</td>
                        <td>{{rowData['PaymentRemarks']}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
</div>


<p-dialog header="Expense Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'600px'}">
    <div class="ui-g ui-fluid" *ngIf="expenseDetails" style="padding:20px">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12"> Employee Name: </div>
            <div class="col-sm-6 col-md-6 col-xs-12"> {{employeeDetails.EmpName}} {{employeeDetails.LastName}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Employee ID: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{expenseDetails.EmployeeId}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Type of Expense: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{getExpenseType(expenseDetails.ExpenseTypeId)}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Expense Date: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{getDate(expenseDetails.ExpenseDate)}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Expense Remarks: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{expenseDetails.ExpRemarks}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Project Name: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{getProjectTitle(expenseDetails.ProjectCode)}}</div></div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">SubProject Name: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">{{getSubProjectTitle(expenseDetails.SubProjectId)}}</div></div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Total Expenses: </div>
            <div class="col-sm-6 col-md-6 col-xs-12" id="expenseAmount" name="expenseAmount" >{{expenseDetails.AmountRequested}}</div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">Approved Expenses: </div>
            <div class="col-sm-6 col-md-6 col-xs-12"><input pInputText type="number" [(ngModel)]="amountApproved" (keyup)="approvedExpense()"
            value="{{expenseDetails.AmountRequested}}"/></div>
        </div>

        <div class="row" [ngClass]="isActive?'show':'noshow'" id="rejectReason" >
            <div class="col-sm-6 col-md-6 col-xs-12">Reason </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <textarea rows="4" cols="40" [(ngModel)]="approvalRemarks" placeholder="Please provide reason" ></textarea>
            </div>
        </div>


        <div class="row" >
            <div class="col-sm-6 col-md-6 col-xs-12">Reciept: </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                    <img [src]="expenseDetails.docUrl" *ngIf="expenseDetails?.docUrl" alt="Receipt" (click)="viewFullImage(expenseDetails.docUrl)" style="width:50px; height: 50px;">
                    <img [src]="expenseDetails.docUrl2" *ngIf="expenseDetails?.docUrl2" alt="Receipt" (click)="viewFullImage(expenseDetails.docUrl2)" style="width:50px; height: 50px;">
                    <img [src]="expenseDetails.docUrl3"  *ngIf="expenseDetails?.docUrl3" alt="Receipt" (click)="viewFullImage(expenseDetails.docUrl3)" style="width:50px; height: 50px;">

                </div>
        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="approveEmployeeExpense()"  label="Approve"></button>
            <button type="button" pButton icon="pi pi-times" (click)="rejectExpense()" label="Reject"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Employee Detailed Reciept" [(visible)]="displayImageDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'auto' , 'height': 'auto'}">
    <div class="ui-g-4">
        <img [src]="currentDisplayImage" alt="Receipt View" />
    </div>
</p-dialog>

